In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
%matplotlib inline

In [2]:
exercise = pd.read_csv('myfitnesspal/Exercise-Summary.csv', index_col = 0)
measurement = pd.read_csv('myfitnesspal/Measurement-Summary.csv', index_col = 0)
nutrition = pd.read_csv('myfitnesspal/Nutrition-Summary.csv', index_col = 0)

In [3]:
exercise.index = pd.to_datetime(exercise.index)
measurement.index = pd.to_datetime(measurement.index)
nutrition.index = pd.to_datetime(nutrition.index)

print("Exercise Period :  ", exercise.index[0] , ' - ', exercise.index[-1])
print("Measurement Period :  ", measurement.index[0] , ' - ', measurement.index[-1])
print("Nutrition Period :  ", nutrition.index[0] , ' - ', nutrition.index[-1])

print("Overall Period: ", min(exercise.index[0],measurement.index[0],nutrition.index[0]), ' - ',
                          max(exercise.index[-1],measurement.index[-1],nutrition.index[-1]))

startDate = min(exercise.index[0],measurement.index[0],nutrition.index[0])
endDate = max(exercise.index[-1],measurement.index[-1],nutrition.index[-1])

Exercise Period :   2012-11-10 00:00:00  -  2018-02-06 00:00:00
Measurement Period :   2012-11-10 00:00:00  -  2018-02-06 00:00:00
Nutrition Period :   2012-11-10 00:00:00  -  2018-02-06 00:00:00
Overall Period:  2012-11-10 00:00:00  -  2018-02-06 00:00:00

In [9]:
exercise.head()

,Exercise,Type,Exercise Calories,Exercise Minutes,Sets,Reps Per Set,Kilograms,Steps
Date,,,,,,,,
2012-11-10,Dips,Strength,0.0,0.0,7.0,10.0,36.3,0.0
2012-11-10,"Rowing, stationary, very vigorous effort",Cardio,227.0,22.0,0.0,0.0,0.0,0.0
2012-11-10,"Step-ups, vigorous",Cardio,251.0,20.0,0.0,0.0,0.0,0.0
2012-11-11,Chin-Ups,Strength,0.0,0.0,3.0,8.0,36.3,0.0
2012-11-11,Dips,Strength,0.0,0.0,5.0,10.0,36.3,0.0

In [5]:
exercise.fillna(value=0, inplace=True)

def boolStrength(x):
    if x == 0.0:
        return '1' # yes
    else:
        return '0' # no
    
exercise_agg = pd.DataFrame(index=pd.date_range(start=startDate, end=endDate ,freq='D'))

In [12]:
for column in exercise.columns:
    if column in ['Exercise Calories', 'Exercise Minutes', 'Steps']:
        exercise_agg[column] = exercise.groupby('Date')[column].sum()

In [13]:
exercise_agg.fillna(value=0, inplace=True)

In [14]:
exercise_agg.head()

            Exercise Calories  Exercise Minutes  Steps
2012-11-10              478.0              42.0    0.0
2012-11-11              577.0              55.0    0.0
2012-11-12              482.0              55.0    0.0
2012-11-13              441.0              40.0    0.0
2012-11-14                0.0               0.0    0.0